[submodule "vim/vim/bundle/lightline"]
	path = vim/vim/bundle/lightline
	url = https://github.com/itchyny/lightline.vim.git
[submodule "vim/vim/bundle/nerdcommenter"]
	path = vim/vim/bundle/nerdcommenter
	url = https://github.com/scrooloose/nerdcommenter.git
[submodule "vim/vim/bundle/nerdtree"]
	path = vim/vim/bundle/nerdtree
	url = https://github.com/scrooloose/nerdtree.git
[submodule "vim/vim/bundle/supertab"]
	path = vim/vim/bundle/supertab
	url = https://github.com/ervandew/supertab.git
