snippet describe "Insert new describe test block" b
describe('${1:component}', () => {
	it('should ${2:doStuff}', () => {
		$0
	})
})	
endsnippet	

snippet it "it block for test" b
it('should ${1:doStuff}', () => {
$0
})
endsnippet


snippet impR "Import React from React" b
import React from 'react'
endsnippet
